
$font-default: 'Intervogue Soft', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-jumble: 'Jumble', 'Helvetica Neue', Helvetica, Arial, sans-serif;

$colorPrimary: #000;
$colorWhite: #FFFFFF;
// $colorWhite: #FFFFFF;
// $colorYellow: #FACD55;
$colorLighterViolet: #D2D2E7;
$colorLightViolet: #A19FC9;
$colorViolet: #756CAB;
$colorDarkViolet: #36317B;

$colorMilka: #786ab0;
$colorDarkLilac: #382E7E;
$colorMidLilac: #D0D0F5;
$colorLightLilac: #E2E2FA;
$colorLightYellow: #f5e1a4;
$colorYellow: #FACD55;
$colorOrange: #f58c2e;
$colorGreen: #60a644;
$colorPink: #d5348a;
$colorLightPink: #eba6ca;
